<h1>Survivor</h1>

<p>
  <strong>Name:</strong>
  <%= @survivor.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @survivor.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @survivor.gender %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @survivor.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @survivor.longitude %>
</p>

<%= link_to 'Update Location', edit_survivor_path(@survivor) %><br>

<% if @survivor.infected == true %>
<p style='color:red;'>
  <strong> Infected: </strong>
  <%= @survivor.infected %>
</p>
<% else %>
<p>
  <strong> Infected:  </strong>
  <%= @survivor.infected %>
</p>
<% end %>

<h2>Inventory</h2>

<p>
  <strong>Water:</strong>
  <%= @survivor.water %>
</p>

<p>
  <strong>Food:</strong>
  <%= @survivor.food %>
</p>

<p>
  <strong>Medication:</strong>
  <%= @survivor.medication %>
</p>

<p>
  <strong>Ammunition:</strong>
  <%= @survivor.ammunition %>
</p>

<br><br>
<h2><%= @survivor.flags.size == 0 ? ' ' : 'This survivor was reported as infected by:'%></h2>
<% @survivor.flags.each do |flag| %>
  <p>
    <strong>Informer:</strong>
    <%= flag.informer %>
  </p>
<% end %>

<br><br>
<h3>Report this survivor as infected:</h3>
  <%= form_for([@survivor, @survivor.flags.build]) do |f| %>
   
<!--     <% if @survivor.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@survivor.errors.count, "error") %> prohibited
        this survivor from being saved:
      </h2>
      <ul>
        <% @survivor.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %> -->

  <p>
    <%= f.label :informer %><br>
    <%= f.text_field :informer %>
  </p>

  <p hidden>
    <%= f.label :infected %><br>
    <%= f.text_field :infected, :value => @survivor.name %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<br><br>

<%= link_to 'Back', survivors_path %>